.main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    background-color: #141414;
    z-index: 1;
    width: 100%;
    max-width: 2000px;
    padding: 0 50px; 
}